/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
ul, li {
    list-style: none;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #fff;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 12px;
    color: #fff;
}
h6 {
    font-size: 11px;
    color: #fff;
    font-weight: 600;
}
p, a {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #6d6d6d;
}
a {
    text-decoration: none;
}
hr {
    border: none;
    border-bottom: 1px solid #464646;
    margin: 3px 0;
}

/* BUTTONS */
.btn {
    padding: 5px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
}
.btn--upgrade {
    display: inline-block;
    padding: 10px 25px;
    font-size: 0.7em;
    color: #fff;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    margin-right: 30px;
}
.btn--upgrade:hover {
    transform: scale(1.05);
}

/* MIX */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.hidden {
    display: none;
}
.center {
    text-align: center;
}
.list_inline li{
    display: inline-block;
}
.text_uppercase {
    text-transform: uppercase;
}
.white {
    color: #fff;
}

/* STRUCTURE */
body {
    height: 100vh;
    background-color: #181717;
}
main {
    height: calc(100% - 75px);
    display: flex;
}
footer {
    height: 75px;
    background-color: #282727;
}

/* MAIN  */
/* aside */
aside {
    width: 225px;
    height: 100%;
    background-color: #121111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
aside a {
    display: flex;
    align-items: center;
}
aside a, aside p {
    font-weight: 500;
    transition: 0.2s ease-in-out;
}
aside a:hover, aside p:hover {
    color: #fff;
}
.aside__top {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.aside__logo {
    height: 75px;
    line-height: 75px;
    flex-shrink: 0;
}
.aside__logo img {
    height: 35px;
    vertical-align: middle;
    padding-left: 15px;
}
.aside__icon {
    margin-right: 10px;
}
.aside__nav li {
    padding-bottom: 10px;
    padding-left: 15px;
    border-left: 2px solid transparent;
}
.aside__nav li:first-child {
    border-left: 2px solid #1eb853;
}
.aside__nav a:hover .aside__icon path{
    fill: #fff;
}
.aside__nav a:hover p {
    color: #fff;
}
.aside__playlist, .aside__bottom {
    padding: 10px 15px;
}
.aside__playlist {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.aside__playlist button {
    background-color: transparent;
    border: none;
    color: #6d6d6d;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.aside__playlist ul {
    display: block;
    overflow-y: auto;
    flex-basis: 400px;
    width: 100%;
}
.aside__playlist li {
    padding: 10px 0;
}
.aside__bottom i {
    margin-right: 5px;
}
.aside__bottom hr {
    margin: 10px 0;
}
.user__icon {
    border-radius: 50%;
    margin-right: 10px;
}

/* main container */
#main__container {
    height: 100%;
    width: calc(100% - 225px);
    overflow-y: auto;
}

/* upgrade */
#upgrade {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 75px;
    width: calc(100% - 225px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: rgb(8, 11, 19, 0.5);
}

/* library */
#library {
    margin-top: 75px;
    padding: 15px;
}
#library__category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#library__category li {
    margin: 0px 8px 24px;
}
#library__category a {
    font-size: 11px;
    font-weight: 600;
    position: relative;
    transition: 0.2s ease-in-out;
}
#library__category a.active::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 50%;
    transform: translate(50%, 0);
    height: 1px;
    width: 20px;
    border-bottom: 2px solid #1eb853;
}
#library__category a:hover {
    color: #fff;
}
.library__section {
    max-width: 941px;
    margin: 0 auto 35px;
}
.library__section h2 {
    margin-bottom: 10px;
}
.library__section__list ul { 
    display: flex;
}
.library__section__list li {
    flex-basis: calc((100% / 6) - 4px);
}
.library__section__list li:not(:last-child){
    margin-right: 5px;
}
.a--cover {
    display: inline-block;
    position: relative;
    margin-top: 20px;
}
.a--cover img {
    width: 100%;
    height: auto;
}
.a--cover:hover .a--cover__overlay {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.a--cover .fa-heart, .a--cover .fa-ellipsis-h {
    font-size: 14px;
}
.a--cover .fa-play {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 13px 0;
    padding-right: 12px;
    padding-left: 14px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    font-size: 14px;
    margin: 0 7px;
    transition: 0.1s ease-in-out;
}
.a--cover .fa-play:hover {
    border: 1px solid rgba(255, 255, 255);
    transform: scale(1.1);
}
.a--title {
    display: block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 5px 0;
}
.p--subtitle {
    font-size: 10px;
    font-weight: 600;
}
#library__artist .a--cover {
    border-radius: 50%;
    overflow: hidden;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
footer i:hover {
    color: rgba(255, 255, 255);
}
.footer__left { 
    flex-basis: 25%;
    display: inline-flex;
    align-items: center;
}
.footer__left > * {
    display: inline-block;
    vertical-align: middle;
}
.footer__left__track {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
}
.footer__left__track img{
    margin-right: 10px;
}
.footer__left__track__info p {
    font-weight: 600;
    font-size: 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.footer__left__track__info p:hover {
    color: #fff;
    text-decoration: underline;
}
.footer__left__buttons i {
    padding: 5px;
    color: #6d6d6d;
    transition: 0.2s ease-in-out;
}
.footer__left__buttons i:hover {
    color: #fff;
}
.footer__center {
    flex-basis: 50%;
    flex-grow: 2;
    text-align: center;
    padding-bottom: 7px;
}
.footer__center__controls {
    width: 100%;
    line-height: 26px;
    text-align: center;
    margin-bottom: 5px;
}
.footer__center__controls i {
    vertical-align: middle;
    margin: 0 5px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.1s;
}
.footer__center__controls .fa-play-circle:hover{
    transform: scale(1.1);
}
.progress__bar {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    position: relative;
    cursor: pointer;
}
.progress__bar__full {
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    overflow: hidden;
}
.progress__bar__played {
    width: 20%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #b3b2b2;
}
.progress__bar__cursor {
    display: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    left: 19%;
    bottom: -3px;
    background-color: #fff;
    vertical-align: middle;
}
.footer__center__progress small {
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 6px;
    color: #fff;
    margin: 0 5px;
}
.footer__center__progress:hover .progress__bar__played {
    background-color: #1eb853;
}
.footer__center__progress:hover .progress__bar__cursor {
    display: inline-block;
}
.footer__right {
    flex-basis: 25%;
    text-align: right;
}
.footer__right__misc {
    display: inline-block;
}
.footer__right__misc i {
    padding: 0 5px;
    color: #6d6d6d;
    transition: 0.2s ease-in-out;
}
.footer__right__sound {
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    position: relative;
    cursor: pointer;
}
.sound__full {
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    overflow: hidden;
}
.sound__active {
    position: absolute;
    height: 100%;
    width: 40%;
    background-color: #b3b2b2;
}
.sound__cursor {
    display: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    left: 32%;
    bottom: -3px;
    background-color: #fff;
    vertical-align: middle;
}
.footer__right__sound:hover .sound__active {
    background-color: #1eb853;
}
.footer__right__sound:hover .sound__cursor {
    display: inline-block;
}

/* RESPONSIVE  */
@media screen and (max-width: 768px) {
    .library__section__list ul {
        flex-wrap: wrap;
    }
    .library__section__list li {
        flex-basis: calc((100% / 4) - 5px);
    }
}

@media screen and (max-width: 576px) {
    aside {
        width: 65px;
    }
    #main__container {
        width: calc(100% - 65px);
    }
    #upgrade {
        width: calc(100% - 65px);
    }
    .aside__logo__small {
        display: inline-block;
        height: 25px;
    }
    .aside__logo__full, .aside__playlist, .aside__nav p, .aside__bottom p, .aside__bottom h3 {
        display: none;
    }
    .library__section__list ul {
        justify-content: flex-start;
    }
    .library__section__list li {
        flex-basis: calc((100% / 2) - 5px);
    }
    footer {
        padding: 0 5px;
    }
    .footer__left__track {
        margin-right: 5px;
    }
    .footer__left__track img{
        margin-right: 10px;
        width: 30px;
    }
    .progress__bar {
        width: 40%;
    }
    .footer__right__misc i {
        font-size: 10px;
        color: #6d6d6d;
        padding: 0 2px;
        transition: 0.2s ease-in-out;
    }
    .footer__right__sound {
        width: 50px;
    }

}
@media screen and (max-width: 300px) {
    .footer__center__controls i {
        margin: 0 1px;
    }
}