/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul, li {
    list-style: none;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h3 {
    font-size: 12px;
    color: #fff;
}
p, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    color: #6d6d6d;
}

/* STRUCTURE */
body {
    height: 100vh;
    background-color: #181717;
}
main {
    height: calc(100% - 75px);
    display: flex;
    overflow: auto;
}
footer {
    height: 75px;
    background-color: #282727;
}

/* MAIN  */
/* aside */
aside {
    width: 225px;
    height: 100%;
    background-color: #121111;
    position: relative;
}
aside a {
    display: flex;
    align-items: center;
    font-weight: 600;
}
.aside__logo {
    height: 75px;
    padding-top: 15px;
    padding-left: 15px;
}
.aside__logo img {
    height: 75%;
}
.aside__nav li {
    padding-bottom: 5px;
    padding-left: 15px;
    border-left: 2px solid transparent;
}
.aside__nav li:hover {
    border-left: 2px solid #1db954;
}
.aside__icon {
    padding-right: 10px;
}
.aside__playlist {
    padding: 5px 15px;
}
.aside__playlist {
    text-transform: uppercase;
}
.aside__playlist li {
    padding: 10px 0;
}
.aside__user {
    position: fixed;
    bottom: 75px;
    width: 225px;
    color: #fff;
    padding: 5px 15px;
    background-color: #121111;
}
.user__icon {
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

/* main container */
#main__container {
    width: calc(100% - 225px);
}

/* upgrade */
#upgrade {
    height: 75px;
    width: 100%;
    position: fixed;
    background-color: #080B13;
    opacity: 0.5;
}

/* library */
#library {
    height: calc(100% - 75px);
    margin-top: 75px;
}
